.testimonial {
    padding-top: 30px;
    margin-bottom: 50px;

    .head {
        display: flex;
        justify-content: space-between;

        .head_left {
            h3 {
                color: #5FC7C7;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding: 0;
                padding-bottom: 20px;
            }
        }

        .head_right {
            img {
                width: 170px;
                height: 130px;
            }
        }
    }

    .message {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .card {
            width: 32%;
            padding: 30px 25px;
            border: 0;
            box-shadow: 0 0 7px #e0e0e0;

            p {
                font-size: 14px;
                color: #6f6f6f;
            }

            .detail {
                display: flex;
                align-items: center;
                margin-top: 30px;

                img {
                    width: 60px;
                    height: 60px;
                }

                .in_detail {
                    margin-left: 15px;

                    h3 {
                        color: #5EC5C5;
                    }

                    p {
                        margin: 0;
                        color: #a7a6b1;
                    }
                }
            }
        }
    }
}