.terms {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    .left {
        width: 40%;

        img {
            width: 100%;
        }
    }

    .right {
        width: 60%;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            width: 75%;
            font-size: 14px;
            line-height: 1.7;
            padding-top: 20px;
        }

        .terms_btn {
            width: 130px;
            height: 39px;
            border: 0;
            font-size: 13px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-top: 7px;
        }
    }
}