.navbar {
    margin-top: 15px;
    .container-fluid {
        .navbar-collapse {
            .navbar-nav {
                .nav_part {
                    display: flex;

                    a {
                        opacity: .8;
                        padding: .5rem 1.25rem;
                        margin: 0 .5rem;
                        font-size: 1.5rem;

                        &:hover {
                            opacity: 1;
                            text-decoration: none;
                        }
                    }
                }

                .nav_left {
                    a {
                        color: black;
                    }
                }
                
                .nav_right {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}